.searchbar {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
  
.searchbar input {
    width: 350px;
    height: 50px;
    border: 3px solid black;
    border-radius: 25px;
    padding-left: 15px;
}

.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-37px);
    cursor: pointer;
}

.search-icon:hover {
    filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg)
}