*, p, ul {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 0;
  scroll-behavior: smooth;
}

.main-page {
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
}

.main-page .main {
  width: 90%;
  height: 90vh;
  position: relative;
  background: white;
  border-radius: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  overflow: hidden;
}

.main-page .main .left {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main-page .main .right {
  display: flex;
  flex-direction: column;
  justify-content: end;
}


.skeleton {
  background-color: antiquewhite;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}





